.l-layout-page {
  .title-page {
    position: relative;
    min-height: 140px;
    padding-top: 40px;

    .back-text {
      display: block;
      color: $main-color;
      font-weight: $font-weight-bold;
      text-indent: 8px;
    }

    .butn-go-map {
      position: absolute;
      top: 0;
      right: 0;
    }

    .image,
    .map {
      position: absolute;
      top: 0;
      right: 0;
      width: $width-image;
      height: $height-image;
      z-index: -1;
    }

    .image {
      background-image: url('../images/home/intro-image.png');
      background-size: cover;
    }
  }

  .content-page {
    max-width: 620px;
    margin: 60px auto;
    color: $black;
    font-size: $font-size-small;
    line-height: 1.88;

    .date {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      color: $second-color;
      font-size: $font-size-small;
      line-height: 1.88;
    }

    p {
      margin-top: 20px;
      color: $black;
      font-size: $font-size-small;
      line-height: 1.88;
    }
  }

  .tab-content {
    .hidden-tab {
      display: none;
    }
  }
}
