<script type="text/template" id="card-template">
  <a href="<%= alias %>">
    <% if (location) %> <p class="card-location"><%= location %></p>
    <% if (heading) %> <h3 class="card-heading"><%= heading %></h3>
    <% if (subheading) %> <h4 class="card-subheading"><%= subheading %></h4>
    <% if (details) %> <p class="card-details"><%= details %></p>
    <% if (content) %> <div class="card-content"><%= content %></div>
  </a>
</script>
