<script type="text/template" id="card-template">
  <a href="<%= alias %>">
    <p class="card-location"><%= location || 'location' %></p>
    <h3 class="card-heading"><%= heading || 'heading' %></h3>
    <h4 class="card-subheading"><%= subheading || 'subheading' %></h4>
    <p class="card-details"><%= details || 'details' %></p>
    <div class="card-content"><%= content %></div>
  </a>
</script>
