.b-map-page {
  .map,
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh);
  }
  .search-map {
    position: absolute;
    right: 0;
    width: 360px;
    height: 100%;
    background-color: $main-color;
    z-index: 4;

    .list-country-search-map {
      margin-top: 125px;
      list-style: none;

      .continent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: .1s linear;
        cursor: pointer;
        transform-origin: top center;

        span {
          display: flex;
          align-items: center;
          height: 50px;
          width: 100%;
          color: $white;
          font-family: $font-primary;
          font-size: $font-size-mediun;
          font-weight: $font-weight-bold;
          line-height: 1.44;
          margin-top: 5px;
          padding-left: 40px;
          &:hover {
            background-color: rgba($white, .1);
          }
        }

        > ul {
          display: none;
          margin-top: 16px;

          span {
            font-size: $font-size-small;
            font-weight: $font-weight-light;
          }
        }

        &.-open {

          > ul {
            display: block;
          }
        }

        &:first-of-type > span {
          margin-top: 0;
        }
      }

      .region {

        > ul {
          display: none;
          margin-top: 20px;

          span {
            font-size: $font-size-small;
            font-weight: $font-weight-light;
          }
        }

        &.-open {
          > ul {
            display: block;
          }
        }
      }
    }
  }
}
