<div class="b-news-gallery">
  <div class="title-page">
    <div class="image">
    </div>
    <h1 class="text-main-header -black">
      News
    </h1>
  </div>
  <div class="gallery-news">
    <aside class="nav-categories">
      <ul>
        <li class="-selected">all news</li>
        <li>legislation</li>
        <li>bills and legislative proposals</li>
        <li>decisions</li>
        <li>other resources</li>
      </ul>
    </aside>
    <div class="gallery">
      <div class="gallery-scroll" id="gallery-scroll">
        <div class="info-news">
          <h2>November 2016 updates report</h2>
          <span class="date">December 3, 2016</span>
          <div class="text">
            <p>
              Lorem ipsum porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
            <p>
              Cras justo, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
          <a class="butn -primary" href="">
            read more
          </a>
        </div>

        <div class="info-news">
          <h2>November 2016 updates report</h2>
          <span class="date">December 3, 2016</span>
          <div class="text">
            <p>
              Lorem ipsum porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
            <p>
              Cras justo, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
          <a class="butn -primary" href="">
            read more
          </a>
        </div>

        <div class="info-news">
          <h2>November 2016 updates report</h2>
          <span class="date">December 3, 2016</span>
          <div class="text">
            <p>
              Lorem ipsum porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
            <p>
              Cras justo, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
          <a class="butn -primary" href="">
            read more
          </a>
        </div>

        <div class="info-news">
          <h2>November 2016 updates report</h2>
          <span class="date">December 3, 2016</span>
          <div class="text">
            <p>
              Lorem ipsum porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
            <p>
              Cras justo, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
          <a class="butn -primary" href="">
            read more
          </a>
        </div>

        <div class="info-news">
          <h2>November 2016 updates report</h2>
          <span class="date">December 3, 2016</span>
          <div class="text">
            <p>
              Lorem ipsum porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
            <p>
              Cras justo, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
          <a class="butn -primary" href="">
            read more
          </a>
        </div>
        <div class="info-news">
          <h2>November 2016 updates report</h2>
          <span class="date">December 3, 2016</span>
          <div class="text">
            <p>
              Lorem ipsum porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
            <p>
              Cras justo, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
          <a class="butn -primary" href="">
            read more
          </a>
        </div>

        <div class="info-news">
          <h2>November 2016 updates report</h2>
          <span class="date">December 3, 2016</span>
          <div class="text">
            <p>
              Lorem ipsum porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
            <p>
              Cras justo, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
          <a class="butn -primary" href="">
            read more
          </a>
        </div>

        <div class="info-news">
          <h2>November 2016 updates report</h2>
          <span class="date">December 3, 2016</span>
          <div class="text">
            <p>
              Lorem ipsum porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
            <p>
              Cras justo, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
          <a class="butn -primary" href="">
            read more
          </a>
        </div>

        <div class="info-news">
          <h2>November 2016 updates report</h2>
          <span class="date">December 3, 2016</span>
          <div class="text">
            <p>
              Lorem ipsum porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
            <p>
              Cras justo, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
          <a class="butn -primary" href="">
            read more
          </a>
        </div>

        <div class="info-news">
          <h2>November 2016 updates report</h2>
          <span class="date">December 3, 2016</span>
          <div class="text">
            <p>
              Lorem ipsum porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
            </p>
            <p>
              Cras justo, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
          <a class="butn -primary" href="">
            read more
          </a>
        </div>

      </div>
      <div class="pager">
        <ul>
          <!-- <li>before</li> -->
          <li class="-selected">1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>...</li>
          <li>34</li>
          <li class="butn -primary">next</li>
        </ul>
      </div>
    </div>
  </div>
</div>
