<div class="b-news-gallery">
  <div class="title-page">
    <div class="image">
    </div>
    <h1 class="text-main-header -black">
      News
    </h1>
  </div>
  <div class="gallery-news">
    <aside class="nav-categories">
      <ul>
        <li class="option-category -selected">all news</li>
        <li class="option-category">legislation</li>
        <li class="option-category">bills and legislative proposals</li>
        <li class="option-category">decisions</li>
        <li class="option-category">other resources</li>
      </ul>
    </aside>
    <div class="gallery">
      <div class="gallery-scroll" id="gallery-scroll"></div>
      <div class="pager">
        <ul>
          <!-- <li>before</li> -->
          <li class="-selected">1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>...</li>
          <li>34</li>
          <li class="butn -primary">next</li>
        </ul>
      </div>
    </div>
  </div>
</div>
