//Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600,700,900');
$font-primary: 'Raleway', sans-serif;

//Font sizes
$font-size-huge: 90px;
$font-size-large: 50px;
$font-size-small: 15px;
$font-size-x-small: 13px;

// Font weight
$font-weight-light: 300;
$font-weight-semi-bold: 600;
$font-weight-bold: 900;

// Colors
$black: #222;
$white: #fff;
$main-color: #b3001e;
$second-color: #968f7e;
$third-color: #e3ded3;

// Grid
$wrap-width: 940px;
