<script type="text/template" id='map-popup-template'>
  <div class="pop-up-map">
    <div class="number-articles">
      <h3 class="text-secondary-header -white">15</h3>
      <span class="paragraph -white">Articles</span>
    </div>
    <div class="info-country">
      <strong class="paragraph -black">
        <%= name %>
      </strong>
      <ul>
        <li class="paragraph">
          <b>7</b>Legislation
        </li>
        <li class="paragraph -black">
          <b>3</b>Bills and leg prop
        </li>
        <li class="paragraph">
          <b>12</b>Decisions</li>
        </ul>
        <a href="<%= link %>" class="button-country">GO TO COUNTRY PAGE</a>
      </ul>
    </div>
  <div>
</script>

<div class="map" id="map">
  <div class="search-map">
    <ul class="list-country-search-map -collapsed">
    </ul>
  </div>
</div>
