<script type="text/template" id='map-popup-template'>
  <div class="pop-up-map">
    <div class="number-articles">
      <h3 class="text-secondary-header -white">15</h3>
      <span class="paragraph -white">Articles</span>
    </div>
    <div class="info-country">
      <strong class="paragraph -black">
        <%= name %>
      </strong>
      <ul>
        <li class="paragraph">
          <b>7</b>Legislation
        </li>
        <li class="paragraph -black">
          <b>3</b>Bills and leg prop
        </li>
        <li class="paragraph">
          <b>12</b>Decisions</li>
        </ul>
        <a href="<%= link %>" class="button-country">GO TO COUNTRY PAGE</a>
      </ul>
    </div>
  <div>
</script>

<script type="text/template" id='map-accordion-template'>
  <% continents.forEach(function(continent) { %>
    <li class="js-continent-container continent" data-id="<%= continent.title %>">
      <span class="js-continent">
        <%= continent.title %>
      </span>
      <ul>
      <% (continent.regions || []).forEach(function(region) { %>
        <li class="region">
          <span><%= region.field_title %></span>
        </li>
      <% }) %>
      </ul>
      <ul>
      <% (continent.countries || []).forEach(function(country) { %>
        <li class="country">
          <span class="js-country" data-id="<%= country.title %>">
            <%= country.title %>
          </span>
        </li>
      <% }) %>
      </ul>
    </li>

  <% }) %>
</script>

<div class="map" id="map">
  <div class="search-map">
    <ul class="js-accordion list-country-search-map c-map-accordion -collapsed">
    </ul>
    <ul class="js-list-country-search-map list-country-search-map -collapsed">
    </ul>
  </div>
</div>
