<div class="b-about-page">
  <div class="main-information">
    <div class="image">
    </div>
    <div class="text">
      <span class="text-secondary-header -black">
        About the
      </span>
      <h1 class="text-main-header -black">
        World Intermediary
        Liabilty Map
      </h1>
    </div>
    <div class="text-paragraph">
      <p class="paragraph -black">
        The World Intermediary Liability Map (WILMap) is an online resource informing the public
        about evolving Internet regulation affecting <strong>freedom of expression and user rights worldwide<strong>.
      </p>
      <p class="paragraph -black">
        CIS, in collaboration with an amazing team of contributors from around the world, built this detailed
        English-language resource comprised of international case law, statutes, and proposed laws related to intermediary liability.
      </p>
      <p class="paragraph -black">
        Use this WILMap to learn about intermediary liability regimes worldwide, and to identify
        places where legal regimes balance—or fail to balance—regulatory goals with free expression and other civil liberties.
      </p>
      <p class="paragraph -black">
        Please <a href="#">contact us</a> if you would like to join this project, provide feedback or suggest updates to a specific country page.
      </p>
      <p class="paragraph -black">
        The WILMap project has been developed and coordinated by <a href="#">Giancarlo F Frosio</a>.
      </p>
    </div>
  </div>
  <hr>
  <div class="team-information">
    <h2 class="text-secondary-header -black">
      About the team
    </h2>
    <div class="text-paragraph">
      <p class="paragraph -black">
        Lorem ipsum praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
      </p>
      <p class="paragraph -black">
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada
        magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
        Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id
        elit. Nulla vitae elit libero, a pharetra augue.
      </p>
      <p class="paragraph -black">
        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum
        nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit.
        Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.
        Donec ullamcorper nulla non metus auctor fringilla.
      </p>
    </div>
  </div>
</div>
