<header class="b-menu">
  <a class="logo" href="{{ path('<front>') }}" rel="home">
    <img src="themes/wilmap/images/logo.png" alt="logo">
  </a>
  <div class="contain-navigation">
    <nav>
      <ul>
        <li>
          <a href="">Map</a>
        </li>
        <li>
          <a href="">Explore</a>
        </li>
        <li>
          <a href="">Topics</a>
        </li>
        <li>
          <a href="">News</a>
        </li>
        <li>
          <a href="">About</a>
        </li>
      </ul>
    </nav>
    <form class="search-form">
      <input type="text" placeholder="Search">
    </form>
  </div>
</header>
