<header class="b-menu">
  <a class="logo" href="{{ path('<front>') }}" rel="home">
    <img src="themes/wilmap/images/logo.png" alt="logo">
  </a>
  <div class="contain-navigation">
    <nav>
      <ul>
        <li>
          <a href="/map">Map</a>
        </li>
        <li>
          <a href="/explore">Explore</a>
        </li>
        <li>
          <a href="/topics">Topics</a>
        </li>
        <li>
          <a href="/news">News</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>
    <form class="search-form">
      <input type="text" placeholder="Search">
    </form>
  </div>
</header>
