<div class="b-topics-page">
  <div class="title-page">
    <div class="image">
    </div>
    <h1 class="text-main-header -black">
      Topics
    </h1>
  </div>

  <div class="gallery-topics">
    <a href="#" class="info-topics">
      <div>
        <h3>Monitoring Obligations to<br>Internet Intermediaries</h3>
        <hr>
        <p class="paragraph">
          Internet intermediaries are facing increasing pressure to monitor
          and remove unlawful content posted by their users. This approach
          demands private companies to make the decision on whether a content
          is legal or not, and may constitute a proxy for the prior restraint
          of speech. This trend has been identified in court decisions and
          draft legislation in Europe and in the US.
        </p>
      </div>
    </a>

    <a href="#" class="info-topics">
      <div>
        <h3>Right to Be Forgotten</h3>
        <hr>
        <p class="paragraph">
          The Court of Justice of the European Union recognized a “right
          to be forgotten” (or delisted) on the Google Spain leading case.
          The boundaries of this right, construed upon an interpretation of
          the EU Data Protection Directive, and how to proper balance it with
          Freedom of Expression is still a challenge to be faced.
          The trend is emerging on Latin America in the form of legislative
          initiatives, court and administrative decisions of Data Protection Authorities.
        </p>
      </div>
    </a>

    <a href="#" class="info-topics">
      <div>
        <h3>Voluntary Agreements to<br>Remove Content</h3>
        <hr>
        <p class="paragraph">
          In many jurisdictions, governments are pressuring intermediaries to “voluntarily”
          remove unlawful content. These agreements often lack proper transparency and
          put private companies in the role of deciding what is an unlawful speech,
          violating the idea of having a legitimate court adjudicating the
          restriction of fundamental right.
        </p>
      </div>
    </a>

    <a href="#" class="info-topics">
      <div>
        <h3>Administrative authorities’<br>orders to delete content</h3>
        <hr>
        <p class="paragraph">
          We see an emerging trend of administrative agencies/authorities issuing orders against
          intermediaries to delete content. This is an open question under the
          Belen Rodriguez case, in Argentina, and have been an emerging
          theme around the world in legislation.
        </p>
      </div>
    </a>

    <a href="#" class="info-topics">
      <div>
        <h3>International Agreements<br>affecting intermediaries’ safe<br>harbor</h3>
        <hr>
        <p class="paragraph">
          Approved international trade agreements affect the protection of freedom of
          expression online, affirming the necessity to provide incentives
          for intermediaries to cooperate in deterring the storage and transmission
          of unlawful content. This has been observed, at least, in the
          Trans-Pacific-Partnership agreement and in bilateral agreements between
          the US and Latin American countries, which will soon be subject to domestic implementation.
        </p>
      </div>
    </a>

    <a href="#" class="info-topics">
      <div>
        <h3>Copyright</h3>
        <hr>
        <p class="paragraph">
          There are permanent pressure to improve the copyright enforcement
          on the digital environment. Some studies point out that the
          enforcement are becoming more and more automated and that many
          intermediaries are going beyond the DMCA (US Law) standard to adopt
          a DMCA-Plus standard. This is the kind of issue that is hard to expose
          only with the tags and it would be useful to be able to expose this
          trend on a Topic page.
        </p>
      </div>
    </a>
  </div>
</div>
